html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

.main-header {
  min-height: 545px;
  background-color: rgb(237,237,237);
  font-family: 'Roboto', 'Arial', sans-serif;
}

.header-catalog {
  min-height: 355px;
  background-color: rgb(237,237,237);
  font-family: 'Roboto', 'Arial', sans-serif;
}

.main-logo {
  display: flex;
  margin-right: 200px;
  padding-top: 50px;
}

.site-navigation,
.main-navigation {
    display: flex;
    align-items: center;
}

.site-navigation {
  justify-content: space-between;
  align-items: baseline;
  padding-top: 50px;
  width: 440px;
}

.site-navigation a {
  display: block;
  position: relative;
  align-items: baseline;
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.875;
  text-align: left;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  color: #000000;
}

.basket-navigation {
  display: flex;
  margin-left: auto;
  padding-top: 50px;
  width: 120px;
}

.site-navigation a:hover,
.basket-navigation a:hover  {
  color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active  {
  color: #a6a6a6;
}

.basket-navigation a {
  position: relative;
  margin-left: auto;
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.875;
  text-align: right;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  color: #000000;
}

.basket-link::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 7px;
  width: 15px;
  height: 17px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-nav a:nth-child(3) {
  border-bottom: 2px solid #fb565a;
}

.shop-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.shop-caption h1 {
  font-size: 55px;
  font-weight: 500;
}

.visually-hidden {
  display: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.slide {
  display: none;
  padding-top: 30px;
  padding-bottom: 0;
  margin:0;
}

.slide-active {
  display: block;
}

.slider {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 420px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.slider-controls {
    position: absolute;
    bottom: 96px;
    left: 50%;
    width: 200px;
    height: 18px;
    margin-left: -100px;
    text-align: center;
    z-index: 10;
}

.slider-controls i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 6px;
    background: white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .active {
    box-shadow: inset 0 0 0 4px #fff, inset 0 0 0 6px #c1c1c1;
}

.slide h2 {
  margin-top: 35px;
  margin-bottom: 0;
}

.slogan {
  font-size: 55px;
  line-height: 1;
  color: #000000;
  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.slogan-description {
  margin-top: 25px;
}

.slide1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position:100% 100%;
  height: 420px;
}

.slide2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 420px;
}

.slide3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 420px;
}

.btn-get-more {
  display: block;
  margin-top: 40px;
  vertical-align: middle;
  padding-top: 15px;
  width: 240px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
}

.btn-get-more:hover,
.button-web:hover,
.button-write-us:hover {
  background-color: #e74246;
}

.btn-get-more:active,
.button-web:active,
.button-write-us:active {
  color: #e37376;
  background-color: #d7373b;
}

.main-services {
  margin-top: 80px;
  margin-bottom: 80px;
}

.main-services li {
  font-size: 16px;
  list-style: none;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;
}

.services-list h2 {
  margin: 0;
}

.service-item {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.service-item img {
  order: -1;
}

.service-item p {
  margin-bottom: 0;
}

.services {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.25;
  color:#000000;
  font-weight: bold;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
}

.button-web {
  display: block;
  margin-top: 34px;
  padding-top: 12px;
  text-align: center;
  width: 160px;
  height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.button-app {
  display:block;
  margin-top: 34px;
  padding-top: 12px;
  text-align: center;
  width: 160px;
  height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00ca74;
  border-radius: 3px;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:active {
  color: #4dc491;
  background-color: #00aa62;
}

.button-presentation {
  display:block;
  margin-top: 34px;
  padding-top: 12px;
  text-align: center;
  width: 160px;
  height: 50px;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #efc84a;
  border-radius: 3px;
}

.button-presentation:hover {
  background-color: #eab534;
}

.button-presentation:active {
  color: #edc265;
  background-color: #e5a722;
}

.about-nerds {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

.about-nerds .left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.about-nerds b {
  font-size: 45px;
}

.about-nerds p {
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 24px;
}

.about-nerds h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.servises-details {
  padding-left: 35px;
  margin: 0;
}

.servises-details li {
  position: relative;
  margin-top: 32px;
  list-style: none;
}

.servises-details li::before {
  content:"";
  display: block;
  position: absolute;
  left: -35px;
  top: calc(50% - 1px);
  width: 25px;
  height: 2px;
  background-color: #db575a;
}

.about-nerds .right-column {
  padding-top: 40px;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
}

.index-right-column h3 {
  margin-top: 33px;
  margin-bottom: 37px;
}

.data {
  padding-left: 16px;
  line-height: 1.5;
  color:#000000;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', 'Arial', sans-serif;
}

tr:first-child {
  font-size: 45px;
}

.value-percent {
  width: 110px;
  padding-bottom: 17px;
}

.value-percent sup {
  font-size: 26px;
  top: -15px;
}

.value-text {
  width: 110px;
}

td:nth-child(3) {
  padding-left: 10px;
}

.project-gallery {
  display: flex;
  align-items: center;
  padding-left: 32px;
  height: 185px;
  border-bottom: 2px solid #ededed;
}

.project-gallery a {
  width: 209px;
  height: 90px;
}

.html-academy {
  margin-right: 85px;
  background-image: url("../img/logo-1.png");
  background-repeat: no-repeat;
  background-position: 0 15px;
}

.html-academy:hover {
  background-image: url("../img/logo-1black.png");
}

.html-academy:active {
  background-image: url("../img/logo-1light.png");
}

.borodinski {
  margin-right: 103px;
  background-image: url("../img/logo-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.borodinski:hover {
  background-image: url("../img/logo-2black.png");
}

.borodinski:active {
  background-image: url("../img/logo-2light.png");
}

.pink {
  margin-right: 98px;
  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  background-position: 0 18px;
}

.pink:hover {
  background-image: url("../img/logo-3black.png");
}

.pink:active {
  background-image: url("../img/logo-3light.png");
}

.mishka {
  background-image: url("../img/logo-4.png");
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.mishka:hover {
  background-image: url("../img/logo-4black.png");
}

.mishka:active {
  background-image: url("../img/logo-4light.png");
}

.contacts {
  position: relative;
  z-index: 3;
  padding: 34px 50px 47px;
  width: 320px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.contacts h3 {
  margin-bottom: 29px;
  text-transform: uppercase;
  font-size: 18px;
}

.contacts p {
  margin-top: 20px;
  font-size: 16px;
}

.contacts p:nth-of-type(2) {
  margin-bottom: 36px;
}

.map {
  position: relative;
  margin: 80px auto 70px auto;
  height: 418px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 1440px 418px;
  background-position: 50%;
}

.map .container {
  padding-top: 54px;
}

.interactive-map iframe {
  position: absolute;
  z-index: 2;
  border: none;
  width: 100%;
  height: 418px;
  border-style: none;
}

.map::before {
  content:"";
  position: absolute;
  z-index: 3;
  left: calc(50% + 100px);
  top: 90px;
  width: 155px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-write-us {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 15px;
  height: 50px;
  text-align: center;
  width: 220px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.social {
  display: flex;
  flex-basis:100%;
  margin: 0;
  margin-right: 100px;
  margin-bottom: 77px;
  list-style: none;
}

.social a {
  position: relative;
  margin-right: 10px;
  width: 79px;
  height: 79px;
  font-size:0;
}

.vk-button,
.fb-button,
.insta-button {
  background-image: url("../img/grey-circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.vk-button:hover,
.fb-button:hover,
.insta-button:hover {
  background-image: url("../img/red-circle1.svg");
}

.vk-button:active,
.fb-button:active,
.insta-button:active {
  background-image: url("../img/red-circle2.svg");
}

.vk-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 26px;
  top: 32px;
  width: 27px;
  height: 17px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}

.fb-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 33px;
  top: 28px;
  width: 16px;
  height: 24px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.insta-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 29px;
  top: 29px;
  width: 22px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

.social-info {
  margin-left: 130px;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.social-info b {
  font-size: 36px;
}

.contact-us {
  display: none;
  position: fixed;
  left: calc(50% - 480px);
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 12;
}

.modal-show {
  display: block;
  animation-name: popup-show;
  animation-duration: 1s;
}

@keyframes popup-show {
  0% {
    transform: translateX(-1000px);
  }

  50% {
    transform: translateX(100px);
  }
  
  100% {
    transform: translateX(0px);
  }
}

.contact-us form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 70px 100px;
}

.contact-us p {
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-weight: 500;
}

.form-title {
  flex-basis: 100%;
}

.contact-us label {
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

.half-width {
  flex-basis: 360px;
  margin-top: 46px;
  margin-bottom: 35px;
}

.half-width input[type="text"],
.half-width input[type="email"] {
  margin-top: 12px;
  box-sizing: border-box;
  width: 360px;
  padding: 15px;
  border: 2px solid #d7dbdd;
  color: #a2a2a2;
}

.half-width input[type="text"]:hover,
.half-width input[type="email"]:hover,
.text-letter textarea:hover {
  border-color: #b4b9bb;
}

.half-width input[type="text"]:focus,
.half-width input[type="email"]:focus,
.text-letter textarea:focus  {
  border-color: #000000;
  color: #000000;
}

.half-width input[type="text"]:invalid,
.half-width input[type="email"]:invalid {
  border-color: #e74246;
  color: #e74246;
}

.button-send input[type="submit"]:hover {
  background-color: #e74246;
}

.button-send input[type="submit"]:focus {
  color: #e37376;
  background-color: #d7373b;
}

.text-letter {
  flex-basis: 100%;
}

.text-letter textarea {
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 47px;
  width: 760px;
  height: 119px;
  padding: 15px;
  border: 2px solid #d7dbdd;
  color: #a2a2a2;
  resize: vertical;
}

.modal-close {
  position: absolute;
  top: 77px;
  right: 90px;
  padding: 0;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-send input {
  display: inline-block;
  vertical-align: baseline;
  height: 50px;
  text-align: center;
  width: 260px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: 0;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.catalog-columns .left-column{
  flex-basis: 260px;
}

.catalog-columns .right-column {
  flex-basis: 760px;
}

.filter {
  width: 260px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 50px;
  border-style: none;
  padding: 0;
}

.range-filter {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 260px;
  box-sizing: content-box;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 155px;
}

.price-controls {
  font-size: 0;
}

.price-controls label:not(.price-label) {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  font-weight: 500;
}

.price-controls .price-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #283136;
}

.max-price {
  padding-left: 25px;
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
}

.filter ul {
  padding: 0;
  margin: 0;
}

.radiobuttons li {
  padding-top: 25px;
  text-transform: none;
}

.checkbox li {
  padding-top: 22px;
  text-transform: none;
}

.radiobuttons label,
.checkbox label {
  cursor:pointer;
}

.radiobuttons label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-off-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor:pointer;
}

.radiobuttons label::after {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-on-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor:pointer;
}

input[type=radio]:checked + label::before {
  display: none;
}

input[type=radio]:checked + label::after {
  display: block;
}

.radiobuttons label:hover::before {
  background-image: url("../img/radio-off.svg");
}

.checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor:pointer;
}

.checkbox label::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor:pointer;
}

input[type=checkbox]:checked + label::before {
  display: none;
}

input[type=checkbox]:checked + label::after {
  display: block;
}

.filter-button {
  display:inline-block;
  height: 50px;
  text-align: center;
  width: 260px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  background-color: rgb(237,237,237);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: d5d5d5;
}

.filters input[type="checkbox"],
.filters input[type="radio"] {
  display: none;
}

.filters label:not(.price-label) {
   display: block;
   position: relative;
   padding-left: 38px;
 }

.catalog-content {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.catalog-content a {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog-sort b {
  font-weight: 500;
}

.catalog-sort a:not(:first-of-type) {
  color: #b2b2b2;
}

.catalog-sort a:hover {
  color: #666666;
}

.catalog-sort a:active {
  color: #000000;
}

.sort-type {
  width: 360px;
}

.sort-type a {
  margin-left: 20px;
}

.sort-type a:nth-last-child(2),
.sort-type a:last-child {
  font-size: 0;
}

a .arrow {
  display: inline-block;
  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 10px solid #000000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-down::before {
  border-bottom-width: 0;
    font-size: 0;
}

.arrow-up::before {
  border-top-width: 0;
  border-bottom-color: #a6a6a6;
  margin-left: 0;
}

.arrow-down:hover::before {
  border-top-color: #a6a6a6;
}

.arrow-down:active::before {
  border-top-color: #000000;
}

.arrow-up:active::before {
  border-bottom-color: #000000;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item-name {
  margin: 0 auto 20px auto;
  font-size: 18px;
  font-weight: 500;
}

.catalog-item {
  width: 360px;
  min-height: 575px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
  border-top: 40px solid #f1f1f1;
  border-radius: 3px 3px 0 0;
}

.catalog-item::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 17px 0 0 #fff,34px 0 0 #fff;
  box-shadow: 22px 0 0 #fff,44px 0 0 #fff;
  top: -27px;
  left: 17px;
}

.catalog-item:hover {
  border-top-color: #797979;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover > .hidden-info {
  display: block;
  position:absolute;
  bottom:0;
}

.catalog-list .button-price {
  display: inline-block;
  margin-top: 30px;
  padding-top: 15px;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
}

.button-price:hover {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
}

.catalog-list li {
  list-style: none;
}

.hidden-info {
  display: none;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 360px;
  text-align: center;
  background-color: #eeeeee;
  font-size: 18px;
  font-weight: 400;
}

.catalog-item-info {
  margin: 0 auto;
  width: 240px;
  color: #666666;
  text-transform: none;
  font-size: 16px;
}

.pagination-item {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 45px;
}

.pagination-item li {
  margin-right: 10px;
}

.pagination-item a {
  padding: 15px 20px;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 3px 3px 0 0;
  font-weight: 500;
  font-size: 16px;
}

.next-page a {
  width: 260px;
  padding-left: 80px;
  padding-right: 80px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:focus,
.pagination-item a:active {
  background-color: #d5d5d5;
  color: #959595;
}

.selected-page a {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #eeeeee;
}
